#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 150   // 10

// 图层索引常量，方便在行为和输入处理器里引用

#define L_ARST            0
#define L_QWER            1
#define L_NUM             2
#define L_NAV             3
#define L_MOUSE           4
#define L_BROWSER         5
#define L_SYM             6
#define L_GAME            7
#define L_ARST_FROM_GAME  8
#define L_MOUSE_SLOW      9   // layer_11
#define L_MOUSE_NORMAL    10  // layer_12
#define L_MOUSE_FAST      11  // layer_13
#define L_MOUSE_TURBO     12  // layer_14

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// 鼠标移动速度缩放：基础速度 + 按图层覆盖，不同图层对应不同速度档位

&mmv_input_listener {
    // 默认“普通”速度

    input-processors = <&zip_xy_scaler 2 1>;

    slow {
        layers = <L_MOUSE_SLOW>;

        // 慢速：缩小移动量

        input-processors = <&zip_xy_scaler 1 4>;
    };

    normal {
        layers = <L_MOUSE_NORMAL>;

        // 普通：维持默认缩放

        input-processors = <&zip_xy_scaler 2 1>;
    };

    fast {
        layers = <L_MOUSE_FAST>;

        // 快：放大移动量

        input-processors = <&zip_xy_scaler 4 1>;
    };

    turbo {
        layers = <L_MOUSE_TURBO>;

        // 飞快：大幅放大移动量

        input-processors = <&zip_xy_scaler 8 1>;
    };
};

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        game_enter_to_arst: game_enter_to_arst {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp ENTER &to L_ARST_FROM_GAME>;
        };

        arst_enter_to_game: arst_enter_to_game {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp ENTER &to L_GAME>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
            layers = <0 7 5 3 4 6 2>;
        };

        togame {
            bindings = <&to 7>;
            key-positions = <20 3>;
            layers = <0 7 5 3 4 6 2>;
        };

        toqwer {
            bindings = <&to 1>;
            key-positions = <20 2>;
            layers = <0 7 5 3 4 6 2>;
        };

        toarst {
            bindings = <&to 0>;
            key-positions = <20 1>;
            layers = <0 5 3 4 6 2 7>;
        };

        f1 {
            bindings = <&kp F1>;
            key-positions = <1 14>;
            layers = <0 3 2 4 5 6 1>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <2 15>;
            layers = <0 2 4 3 5 6 1>;
        };

        f3 {
            bindings = <&kp F3>;
            key-positions = <3 16>;
            layers = <0 2 3 4 5 6 1>;
        };

        f4 {
            bindings = <&kp F4>;
            key-positions = <4 17>;
            layers = <0 2 3 4 5 6 1>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <5 18>;
            layers = <0 2 3 4 5 6 1>;
        };

        f6 {
            bindings = <&kp F6>;
            key-positions = <7 22>;
            layers = <0 2 3 4 5 6 1>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <8 23>;
            layers = <2 0 3 4 5 6 1>;
        };

        f8 {
            bindings = <&kp F8>;
            key-positions = <9 24>;
            layers = <2 0 3 4 5 6 1>;
        };

        f9 {
            bindings = <&kp F9>;
            key-positions = <25 10>;
            layers = <2 0 3 4 5 6 1>;
        };

        f10 {
            bindings = <&kp F10>;
            key-positions = <11 26>;
            layers = <0 2 3 4 5 6 1>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <10 39>;
            layers = <0 2 3 4 5 6 1>;
        };

        f12 {
            bindings = <&kp F12>;
            key-positions = <11 40>;
            layers = <0 2 3 4 5 6 1>;
        };

        lkuohao {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <2 3>;
            layers = <0 2 3 4 5 6 1>;
        };

        rkuohao {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <3 4>;
            layers = <0 2 3 4 5 6 1>;
        };

        l-m {
            bindings = <&kp LBKT>;
            key-positions = <15 16>;
            layers = <0 2 3 4 5 6 1>;
        };

        r-m {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <16 17>;
            layers = <0 2 3 4 5 6 1>;
        };

        l-b {
            bindings = <&kp LBRC>;
            key-positions = <30 31>;
            layers = <0 2 3 4 6 5 1>;
        };

        r-b {
            bindings = <&kp RBRC>;
            key-positions = <31 32>;
            layers = <0 2 3 4 5 6 1>;
        };

        mao {
            bindings = <&kp SEMICOLON>;
            key-positions = <14 15>;
        };

        fen {
            bindings = <&kp COLON>;
            key-positions = <30 29>;
        };

        r-mao {
            bindings = <&kp SEMICOLON>;
            key-positions = <25 26>;
        };

        r-fen {
            bindings = <&kp COLON>;
            key-positions = <39 40>;
        };

        danyin {
            bindings = <&kp SQT>;
            key-positions = <1 2>;
        };

        shuangyin {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <1 3>;
        };

        r-danyin {
            bindings = <&kp SQT>;
            key-positions = <11 10>;
        };

        r-shuangyin {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <11 9>;
        };

        under {
            bindings = <&kp UNDERSCORE>;
            key-positions = <30 32>;
        };

        min {
            bindings = <&kp MINUS>;
            key-positions = <17 15>;
        };

        r-min {
            bindings = <&kp MINUS>;
            key-positions = <23 25>;
        };

        r-under {
            bindings = <&kp UNDERSCORE>;
            key-positions = <37 39>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <14 16>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <29 31>;
        };

        r-plus {
            bindings = <&kp PLUS>;
            key-positions = <24 26>;
        };

        r-equl {
            bindings = <&kp EQUAL>;
            key-positions = <38 40>;
        };

        l-to-num {
            bindings = <&mo 2>;
            key-positions = <43 14>;
            slow-release;
        };

        l-to-fuhao {
            bindings = <&mo 6>;
            key-positions = <43 29>;
            slow-release;
        };

        zuoshang {
            bindings = <&kp GRAVE>;
            key-positions = <1 4>;
        };

        zuoshang2 {
            bindings = <&kp TILDE>;
            key-positions = <1 5>;
        };

        to-l-nav {
            bindings = <&mo 8>;
            key-positions = <42 43>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        arst {
            bindings = <
&kp BACKSPACE  &kp Q           &kp W           &kp F         &kp P             &kp B                                   &mmv MOVE_UP                     &kp J            &kp L              &kp U         &kp Y            &kp SQT          &trans
&kp LSHFT      &hm LEFT_GUI A  &hm LEFT_ALT R  &hm LCTRL S   &hm LEFT_SHIFT T  &kp G                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp M            &hm RIGHT_SHIFT N  &hm RCTRL E   &hm RIGHT_ALT I  &hm RIGHT_GUI O  &trans
&kp LCTRL      &kp Z           &kp X           &kp C         &kp D             &kp V      &mkp RCLK                    &mmv MOVE_DOWN                   &kp K            &kp H              &kp COMMA     &kp PERIOD       &kp SLASH        &trans
                                               &lt 5 ESCAPE  &lt 3 SPACE       &lt 4 TAB                                                                &lt L_SYM ENTER  &lt 2 BACKSPACE    &lt 3 DELETE
            >;

            label = "arst";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOLUME_DOWN>;
        };

        qwer {
            bindings = <
&kp GRAVE   &kp Q           &kp W           &kp E         &kp R             &kp T                                   &mmv MOVE_UP                     &kp Y            &kp U              &kp I         &kp O            &kp P                  &trans
&kp LSHIFT  &hm LEFT_GUI A  &hm LEFT_ALT S  &hm LCTRL D   &hm LEFT_SHIFT F  &kp G                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp H            &hm RIGHT_SHIFT J  &hm RCTRL K   &hm RIGHT_ALT L  &hm LWIN SINGLE_QUOTE  &trans
&kp LCTRL   &kp Z           &kp X           &kp C         &kp V             &kp B      &mkp RCLK                    &mmv MOVE_DOWN                   &kp N            &kp M              &kp COMMA     &kp DOT          &kp FSLH               &trans
                                            &lt 2 ESCAPE  &lt 3 SPACE       &lt 4 TAB                                                                &lt L_SYM ENTER  &lt 3 BACKSPACE    &lt 2 DELETE
            >;

            label = "qwer";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOLUME_DOWN>;
        };

        num {
            bindings = <
&trans  &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL                       &trans          &kp EQUAL             &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS     &trans
&trans  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0            &trans  &trans  &trans  &kp NON_US_BACKSLASH  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &trans            &trans          &kp X                 &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &trans
                              &kp PERIOD    &kp NUMBER_0  &trans                                          &trans                &trans        &trans
            >;

            label = "num";
        };

        nav {
            bindings = <
&trans  &kp LC(Q)  &kp LC(W)  &kp LC(F)  &kp LC(P)  &kp LC(Y)                            &msc SCRL_UP                     &kp K_REDO  &kp C_AC_PASTE  &msc SCRL_DOWN  &msc SCRL_UP  &kp K_UNDO  &trans
&trans  &kp LC(A)  &kp LC(R)  &kp LC(S)  &kp LC(T)  &kp LC(G)            &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &kp CAPS    &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT   &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(D)  &trans                    &msc SCRL_DOWN                   &kp INSERT  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END     &trans
                              &trans     &trans     &trans                                                                &trans      &trans          &trans
            >;

            label = "nav";
            sensor-bindings = <&inc_dec_kp PLUS MINUS>;
        };

        l-AII-mouse {
            bindings = <
&kp BACKSPACE   &kp SINGLE_QUOTE  &kp Y       &kp U       &kp L      &kp J                     &trans          &trans     &kp K_PASTE     &kp K_COPY      &kp K_CUT     &trans           &trans
&kp LEFT_SHIFT  &kp O             &kp I       &kp E       &kp N      &kp M             &trans  &trans  &trans  &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
&kp ENTER       &kp SLASH         &kp PERIOD  &kp COMMA   &kp H      &kp K   &trans            &trans          &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans
                                              &kp DELETE  &kp ENTER  &trans                                    &mkp RCLK  &mkp LCLK       &mkp MCLK
            >;

            label = "mouse";
        };

        broswer {
            bindings = <
&bt BT_SEL 0  &kp LA(LEFT)     &bt BT_SEL 1    &kp LC(LS(T))  &kp LA(RIGHT)    &bt BT_SEL 4                    &trans          &trans  &kp LA(LEFT)     &kp LC(W)  &kp LC(LS(T))  &kp LA(RIGHT)  &trans
&bt BT_SEL 1  &kp LS(LC(TAB))  &kp LC(W)       &kp LC(T)      &kp LS(TAB)      &bt BT_CLR              &trans  &trans  &trans  &trans  &kp LC(LS(TAB))  &kp LC(W)  &kp LC(T)      &kp LC(TAB)    &trans
&bt BT_SEL 2  &msc SCRL_LEFT   &msc SCRL_DOWN  &msc SCRL_UP   &msc SCRL_RIGHT  &trans        &trans            &trans          &trans  &kp LC(H)        &kp LC(E)  &kp LC(F5)     &kp LC(D)      &trans
                                               &trans         &trans           &trans                                          &trans  &trans           &trans
            >;

            label = "broswer";
        };

        sym {
            bindings = <
&trans  &trans  &kp AMPERSAND    &kp ASTERISK   &kp LESS_THAN  &kp GREATER_THAN                    &trans          &kp TILDE       &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp COLON             &trans
&trans  &trans  &kp DOLLAR       &kp PERCENT    &kp CARET      &trans                      &trans  &trans  &trans  &kp MINUS       &kp DOLLAR     &kp PERCENT   &kp CARET             &kp SEMICOLON         &trans
&trans  &trans  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH       &kp QUESTION      &trans            &trans          &kp UNDERSCORE  &kp EXCL       &kp AT_SIGN   &kp HASH              &kp NON_US_BACKSLASH  &trans
                                 &kp BACKSLASH  &kp SLASH      &kp PIPE                                            &trans          &trans         &trans
            >;

            label = "sym";
        };

        game {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E      &kp R         &kp T                         &trans          &trans               &trans          &kp UP_ARROW    &trans           &kp ESCAPE           &trans
&kp LCTRL       &kp A  &kp S  &kp D      &kp F         &kp G                 &trans  &trans  &trans  &trans               &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &game_enter_to_arst  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp NUMBER_3  &kp H       &kp F1            &trans          &trans               &trans          &trans          &trans           &trans               &trans
                              &kp SPACE  &kp SPACE     &kp ESCAPE                                    &game_enter_to_arst  &kp SPACE       &kp SPACE
            >;

            label = "game";
        };

        left-nav {
            bindings = <
&trans  &trans    &kp PAGE_UP    &kp UP_ARROW   &kp PAGE_UP    &trans                     &trans          &trans               &trans  &trans  &trans  &trans  &trans
&trans  &kp HOME  &kp LEFT       &kp DOWN       &kp RIGHT      &kp END            &trans  &trans  &trans  &trans               &trans  &trans  &trans  &trans  &trans
&trans  &trans    &kp PAGE_DOWN  &kp PAGE_DOWN  &kp PAGE_DOWN  &trans   &trans            &trans          &trans               &trans  &trans  &trans  &trans  &trans
                                 &trans         &trans         &trans                                     &arst_enter_to_game  &trans  &trans
            >;

            label = "arst_from_game";
        };
    };
};
